body {
    background-color: darkseagreen;
    color: blanchedalmond;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

a,
a:link,
a:visited {
    color: blanchedalmond;
}

.invisible {
    display: none;
}

.bookentry {
    box-shadow: 
    2px 0 0 0 blanchedalmond, 
    0 2px 0 0 blanchedalmond, 
    2px 2px 0 0 blanchedalmond,   /* Just to fix the corner */
    2px 0 0 0 blanchedalmond inset, 
    0 2px 0 0 blanchedalmond inset;
    padding: 1em;
}

#books {
    padding: 1em;
    width: 80%;
    margin: auto;
}

#adddetails label {
    font-weight: 500;
}

button {
    border: 2px solid blanchedalmond;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background-color: lightpink;
    border-radius: 10px;
}

#expandbutton {
    width: 90px;
    height: 30px;
    border-radius: 20px;
}